.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.order h3 {
    margin-bottom: 20px;
}
.orderDetail {
    padding: 20px;
    box-shadow: 0px 0px 0px 2px rgba(224,224,224,0.74);
}
.orderDetail ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 15px;
}
.orderDetail__link {
    text-align: right;
}