doctype html 
html(lang="ko")
    head 
        meta(charset="utf-8")
        link(rel="stylesheet", href="/dist/css/styles.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", herf="https://fonts.gstatic.com", crossorigin)
        title UOS-Table
    body 
        block content
    
    block script
