doctype html 
html(lang="ko")
    head 
        meta(charset="utf-8")
        link(rel="stylesheet", href="/dist/css/styles.css")
        title UOS-Table
    body 
        block content
    
    script(src="https://kit.fontawesome.com/8669002900.js", crossorigin="anonymous")
    block script