extends base
include mixin_main/brief_restaurant

block content 
    header 
        include partial/logo
        include partial/searchbar
        include partial/authentication
    aside
        include partial/categorybar
    main                 
        .list_restaurant
            each restaurant in restaurants
                +brief_restaurant(restaurant)
            else 
                h2 식당이 존재하지 않습니다

block script
