extends base

block content
    header
        include partial/logo
        a(href="/")
            h1 UOS TABLE
        include partial/authentication
    aside
        include partial/categorybar
    main.login
        h3 회원가입
        .login_select_box
            .login_asUser 
                a(href="/customer/join") 고객 회원가입
            .login_asRestaurant
                a(href="/manager/join") 매니저 회원가입