extends base

block content
    .login_select 
        .login_asUser 
            a(href="/customer/join")
                span 고객 회원가입
        .login_asRestaurant
            a(href="/manager/join")
                span 매니저 회원가입