extends base

block content
    header
        include partial/logo
        a(href="/")
            h1 UOS TABLE
        include partial/authentication

    main.login
        .login_form
            h3=title
            form(method="POST")
                input(type="text", required, name="id", placeholder="ID")
                input(type="password", required, name="pw", placeholder="Password")
                if what == "user"
                    input(type="submit", value="로그인").user_login
                else 
                    input(type="submit", value="로그인").manager_login
        div.login__create_account 
            if what == "user"
                a(href="/customer/join") 고객 회원가입
            else
                a(href="/manager/join") 매니저 회원가입