extends base

block content
    header
        include partial/logo
        a(href="/")
            h1 UOS TABLE
        include partial/authentication
    aside
        include partial/categorybar
    main.login
        h3 로그인
        .login_select_box
            .login_asUser 
                a(href="/customer/login") 고객 로그인
            .login_asRestaurant
                a(href="/manager/login") 매니저 로그인