extends base

block content
    .login_select 
        .login_asUser 
            a(href="/customer/login")
                span 고객 로그인
        .login_asRestaurant
            a(href="/manager/login")
                span 매니저 로그인