extends base
include mixin_main/menuBrief
include mixin_main/review

block content 
    header 
        include partial/logo
        include partial/searchbar
        include partial/authentication
    
    main.restaurant
        h3=restaurant.restaurantName
        .restaurant_description 
            h4 가게 정보
            ul  
                li 영업 시간 : #{restaurant.openTime}
                li 주소 : #{restaurant.address}
                li 매장 번호: #{restaurant.phone}
        .restaurant_menus
            h4 메뉴
            each menu in menus 
                +menuBrief(menu)
            else 
                h4 로딩 실패
        .restaurant_reviews
            h4 리뷰
            each review in reviews
                +review(review)
            else 
                span 리뷰가 없습니다.

block script
