.category
    a(href="/") 전체
    a(href="/category/1") 한식
    a(href="/category/2") 일식
    a(href="/category/3") 양식
    a(href="/category/4") 중식
    a(href="/category/5") 분식
    a(href="/category/6") 패스트푸드