mixin basket(basket)
    div.basket__menu
        h4 식당: #{basket.restaurantName}
        ul
            li #{basket.menuName}
            li #{basket.price}원
            li #{basket.quantity}개
                        

