extends ../base
include mixin_manager/orderBrief
include ../mixin_main/menuBrief

block content 
    header
        h2=restaurant.restaurantName
        a(href="/manager/edit") 가게 정보 수정
        a(href="/logout") 로그아웃
    
    