extends ../base

block content
    header
        include ../partial/logo
        a(href="/")
            h1 UOS TABLE
        include ../partial/authentication
    main.join
        .join_form__manager
            h3 매니저 회원가입
            form(method="POST", id="manager_form")
                input(type="text", name="id", required, maxlength="20", placeholder="ID")
                input(type="password", name="pw", required, maxlength="20", placeholder="비밀번호")
                input(type="password", name="pwcheck", required, maxlength="20", placeholder="비밀번호 확인")
                input(type="text", name="name", required, maxlength="20", placeholder="매장명")
                input(type="text", name="address", required, maxlength="30", placeholder="주소")
                div.join_form__manager__open
                    label(for="start_time") 오픈 시간
                    input(type="time", required, name="start_time")
                div.join_form__manager__category
                    span 카테고리:
                    select(name="categoryId", form="manager_form")
                        option(value="1") 한식
                        option(value="2") 일식
                        option(value="3") 양식
                        option(value="4") 중식
                        option(value="5") 분식
                        option(value="6") 패스트푸드
                input(type="tel", name="phone", required, maxlength="12", placeholder="매장전화")
                input(type="submit", value="매장 등록")