.login,
.join,
.editProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_select_box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    min-width: 230px;
    min-height: 150px;
    margin-top: 20px;
}
.login_asUser,
.login_asRestaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 7px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(242,216,119);
}
.login_asUser {
    background-color: rgb(242,216,119);
}
.login_asRestaurant {
    background-color: rgb(223,76,53);
}