.login_form,
.join_form__manager,
.join_form__customer,
.edit_form__customer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 0px 2px rgba(224,224,224,0.74);
    padding: 30px 40px 20px 40px;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.login_form h3,
.join_form__manager h3,
.join_form__customer h3,
edit_form__customer h3 {
    padding: 15px 7px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.login_form form,
.join_form__manager form,
.join_form__customer form,
.edit_form__customer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    min-width: 250px;
}
.login_form form input,
.join_form__manager form input,
.join_form__customer form input,
.edit_form__customer form input {
    height: 30px;
    padding: 5px 10px;
}
.manager_login,
.join_form__manager input:last-child {
    background-color: rgb(223,76,53);
    border: none;
    border-radius: 5px;
}
.user_login,
.join_form__customer input:last-child {
    border: none;
    border-radius: 5px;
    background-color: rgb(242,216,119);
}
.login__create_account {
    text-align: center;
}
.login__create_account a {
    text-decoration: underline;
    font-size: 14px;
    color: rgb(150, 150, 150);
}