@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

@import "reset.css";
@import "./home/home.css";
@import "./home/login_select.css";
@import "./home/login.css";
@import "./customer/profile.css";
@import "./customer/orderhistory.css";
header {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    margin: 10px 15px;
    align-items: center;
    height: 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(114, 97, 67);
}
.logo_wrapper a img {
    width: 60px;
    height: 40px;
}
.userbox_wrapper,
.userbox_basket,
.userbox_authenication {
    display: flex;
}
.userbox_wrapper {
    justify-content: flex-end;
}
.userbox_authenication h4,
.userbox_basket a .fa-shopping-basket {
    display: block;
    text-align: center;
    color: rgb(126, 126, 126);
    height: 16px;
    font-size: 14px;
    padding: 0 8px;
    border-left: 1.5px solid rgba(221,221,221, 0.6);

}

.userbox_authenication a:last-child h4 {
    border-right: 1.5px solid rgba(221,221,221, 0.6);
}

.searchbar form{
    display: flex;
    justify-content: center;
}
.searchbar form input:first-child {
    width: 80%;
    height: 32px;
    border: 2px solid rgba(114, 97, 67, 0.4);
    padding: 2px 3px;
    align-items: center;
}
.searchbar form input:last-child {
    background-color:rgba(114, 97, 67, 0.4);
    border : 1px solid rgba(114, 97, 67, 0.4);
    padding: 4px 15px;
    cursor: pointer;
}
.category {
    display: flex;
    justify-content: space-evenly;
    margin: 3px 10px;
}
.category a {
    padding: 0 10px;
    width: 14%;
    text-align: center;
    border-left: 1.5px solid rgba(221,221,221, 0.6);
}
.category a:last-child {
    border-right: 1.5px solid rgba(221,221,221, 0.6);
}