mixin brief_restaurant(restaurant)
    .list_restaurant__list
        a(href=`/restaurant/${restaurant.restaurantId}`)
            div.list_restaurant__list__text
                span=restaurant.restaurantName
                span.list_star #{restaurant.star}
