mixin brief_restaurant(restaurant)
    .list_restaurant__list
        a(href=`/restaurant/${restaurant.restaurantId}`)
            .list_restaurant__list__img 
            div.list_restaurant__list__text
                span.list_restaurant__name=restaurant.restaurantName
                span.list_restaurant__star í‰ì  : #{restaurant.star}
