mixin brief_restaurant(restaurant)
    .list_restaurant__list
        img(src=`${restaurant.imageurl}`)
        div.list_restaurant__list__text
            span=restaurant.restaurantName
            span.list_star #{restaurant.star}
