extends ../base

block content
    header
        include ../partial/logo
        a(href="/")
            h1 UOS TABLE
        include ../partial/authentication
    main.editProfile
        .edit_form__customer
            h3 개인정보 수정
            form(method="POST")
                input(type="text", name="name", required, placeholder="이름", value=user.name)
                input(type="password", name="pw", required, placeholder="비밀번호")
                input(type="password", name="pwcheck", required, placeholder="비밀번호 확인")
                input(type="text",name="phone", required, placeholder="전화번호", value=user.phone)
                input(type="text",name="email",placeholder="이메일", value=user.email)
                input(type="submit",value="변경")