doctype html 
html(lang="ko")
    head 
        title EditProfile 
    body
        header 
            h1 개인정보수정
            form(method="POST")
                input(type="text", name="name", required, placeholder="이름", value=user.name)
                input(type="password", name="pw", required, placeholder="비밀번호")
                input(type="password", name="pwcheck", required, placeholder="비밀번호 확인")
                input(type="text",name="phone", required, placeholder="전화번호", value=user.phone)
                input(type="text",name="email",placeholder="이메일", value=user.email)
                input(type="submit",value="변경")