doctype html 
html(lang="ko")
    head
        title Profile 
    
    body
        header 
            main
                .menubar
                    a(href="/customer/mypage") 내정보
                    a(href="/customer/orderhistory") 주문내역
                    a(href="/customer/myreviews") 리뷰조회
            block content
                h1 개인정보
                    ul 
                        li 이름 : #{info.name}
                        li 비밀번호 : #{info.pw}
                        li 전화번호 : #{info.phone}
                        li 이메일 : #{info.email}
            a(href="/customer/edit") 내정보 수정