doctype html 
html(lang="ko")
    head 
        title Profile
    body
        header 
            h1 개인정보
            ul 
                li 이름 : #{info.name}
                li 비밀번호 : #{info.password}
                li 전화번호 : #{info.phonenumber}
                li 이메일 : #{info.email}